{% if article["title"] is defined and article["content"] is defined %}
<div class="row g-5 my-4">
  <div class="col-md-8">
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1">{{ article.title }}</h2>
      <p class="blog-post-meta">{{ article.date }}</p>
      <hr>
      <p>{{ article.content }}</p>
    </article>
  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <div class="p-4 mb-3 bg-body-tertiary rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">I'm passionate about new technologies and love showcasing my discoveries!</p>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row g-5 my-4">
  <div>
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1 text-center">Article not found</h2>
    </article>
  </div>
</div>
{% endif %}