{% extends "base.html.twig" %}

{% block title %}Blog page{% endblock %}
{% block title_header %}Blog{% endblock %}

{% block content %}

<main style="min-height: 75vh" class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Blog page</h1>
      <p class="lead my-3">Check all my last articles here and have a nice time reading !</p>
    </div>
  </div>

  {% include 'articles_list.html.twig' with {articles : articles|default([])} %}

</main>
{% endblock content %}
