{% extends "base.html.twig" %}


{% block title %}Article page{% endblock %}
{% block title_header %}Article{% endblock %}

{% block content %}
<main style="min-height: 75vh" class="container">

  {% include 'article.html.twig' with { article : article|default([]) } %}
  {% include 'articles_list.html.twig' with { articles : articles|default([])} %}

</main>
{% endblock content %}
